<html>
    <head>
    </head>
    <body>
        <h1>${title}$</h1>
        <p style="text-align: right;">${city}$, ${date}$</p>
        <h3>Hallo ${name}$,</h3>
        <p>${text}$</p>
    </body>
</html>