<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>HTML String</string>
		<key>content</key>
		<string>&lt;html&gt;&lt;head&gt;&lt;script src=&quot;script.js&quot;&gt;&lt;/script&gt;&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;style.css&quot; /&gt;&lt;/head&gt;&lt;body&gt;&lt;p&gt;&lt;img src=&quot;ball.png&quot; /&gt;&lt;a onclick=&quot;showAlert(); return false;&quot;&gt;Hallo Welt&lt;/a&gt;&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Image</string>
		<key>contentType</key>
		<string>image/gif</string>
		<key>name</key>
		<string>atom</string>
		<key>extension</key>
		<string>gif</string>
	</dict>
	<dict>
		<key>title</key>
		<string>PDF</string>
		<key>contentType</key>
		<string>application/pdf</string>
		<key>name</key>
		<string>lorem-ipsum</string>
		<key>extension</key>
		<string>pdf</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Text</string>
		<key>contentType</key>
		<string>text/plain</string>
		<key>name</key>
		<string>text</string>
		<key>extension</key>
		<string>txt</string>
		<key>encoding</key>
		<string>UTF-8</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Template</string>
		<key>template</key>
		<string>hello</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Callbacks</string>
		<key>contentType</key>
		<string>text/html</string>
		<key>encoding</key>
		<string>UTF-8</string>
		<key>name</key>
		<string>callback</string>
		<key>extension</key>
		<string>html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>XML</string>
		<key>contentType</key>
		<string>text/xml</string>
		<key>name</key>
		<string>text</string>
		<key>extension</key>
		<string>xml</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Cocoaneheads</string>
		<key>url</key>
		<string>http://www.cocoaneheads.de/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Viewport (Standard)</string>
		<key>contentType</key>
		<string>text/html</string>
		<key>name</key>
		<string>viewport</string>
		<key>extension</key>
		<string>html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Viewport (Gerätebreite)</string>
		<key>contentType</key>
		<string>text/html</string>
		<key>name</key>
		<string>viewport-device</string>
		<key>extension</key>
		<string>html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Viewport (320)</string>
		<key>contentType</key>
		<string>text/html</string>
		<key>name</key>
		<string>viewport-320</string>
		<key>extension</key>
		<string>html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Viewport (640)</string>
		<key>contentType</key>
		<string>text/html</string>
		<key>name</key>
		<string>viewport-640</string>
		<key>extension</key>
		<string>html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Viewport (1280)</string>
		<key>contentType</key>
		<string>text/html</string>
		<key>name</key>
		<string>viewport-1280</string>
		<key>extension</key>
		<string>html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Ungültige URL</string>
		<key>url</key>
		<string>http://error.cocoaneheads.de/</string>
	</dict>
</array>
</plist>
